:root {
    --mainColor: #cdc0b0;
    --secondaryColor: #faebd7;
    --borderColor: #8b7355;
    --mainText: #333333;
    --secondaryText: #4d4d4d;
    --dotBorder: #1a1a1a;
    --previewBg: #cdc0b0;
    --previewShadow: #8b8378;
    --btnColor: #8b8378;
    --attColor: #8b7355;
}

#navigation a {
    color: var(--secondaryText);
}

.about-wrapper hr {
    background-color: var(--borderColor);
    height: 1px;
    border: none;
}


html,body {
    padding: 0;
    margin: 0;
}

body *{
    transition: 0.2s;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Sriracha', cursive;
}

p, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #009acd;
}

ul {
    list-style: none;
}

h1 {
    font-size: 56px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 16px;
}

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 10em;
    position: relative;
    overflow: hidden;
    letter-spacing: 4px;
    background: -webkit-linear-gradient(right, var(--mainColor), var(--mainText), var(--mainColor));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -375%;
    }

    100% {
        background-position: 375%;
    }
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px 10px 0 0;
    box-shadow: 10px -10px 10px -1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px -10px 10px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px -10px 10px -1px rgba(0,0,0,0.25);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 10px 10px 0 0;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

.dots {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 1px -1px 3px -1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px -1px 3px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px -1px 3px -1px rgba(0,0,0,0.5);
}

#dot-1 {
    background-color: #ff3030;
}

#dot-2 {
    background-color: #ffa500;
}

#dot-3 {
    background-color: #00cd00;
}

#navigation {
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.left-column {
    grid-area: left-column;
    padding: 50px 0 50px 0;
}

#img-1 {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    object-fit: cover;
    position: relative;
    animation: hops 1s infinite;
}

@keyframes hops {
    0% {bottom: 0px;}
    50% {bottom: 20px;}
    100% {bottom: 0px;}
}

#theme-options-wrapper {
    display: flex;
    justify-content: center;
}

.theme-dot {
    height: 30px;
    width: 30px;
    margin: 5px;
    border: 1px solid var(--dotBorder);
    border-radius: 50%;
    box-shadow: 1px -1px 3px -1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px -1px 3px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px -1px 3px -1px rgba(0,0,0,0.5);
    cursor: pointer;
}

.theme-dot:hover {
    border-width: 3px;
}

#steelblue-mode {
    background-color: #36648b;
}

#plum-mode {
    background-color: #8b668b;
}

#seagreen-mode {
    background-color: #2e8b57;
}

#light-mode {
    background-color: #cdc0b0;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding: 50px 0 50px 0;
}

#preview-shadow {
    border-radius: 25% 10%;
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    padding: 20px 0 0 20px;
}

#preview {
    border-radius: 25% 10%;
    width: 300px;
    height: 180px;
    background-color: var(--previewBg);
    opacity: 0.95;
    padding: 15px;
    display: grid;
    align-content: center;
    text-align: center;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 50px 0 100px 0;
    grid-gap: 100px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewBg);
    font-weight: bold;
}

.attributes {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.innerAtts {
    font: normal 30px/50px 'Roboto', sans-serif;
}

.innerAtts h2 {
    height: 50px;
    margin-right: 0.3em;
}

.innerAtts b {        
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
}

.innerAtts .flip {
    display: inline-block;
    color: var(--attColor);
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    animation: flip 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes flip {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

#projects {
    text-align: center;
    margin: 25px;
}

.project-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    grid-gap: 30px;
    padding-bottom: 80px;
}

.project {
    border: 1px solid var(--borderColor);
    box-shadow: 10px -10px 10px -1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px -10px 10px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px -10px 10px -1px rgba(0,0,0,0.25);
}

.project-preview {
    background-color: #ffffff;
    padding: 15px;
}

.project-title {
    text-align: center;
    color: #333333;
    margin: 0;
}

.project-intro {
    color: #4d4d4d;
}

.project-link {
    text-align: center;
    font-weight: 900;
    font-size: 18px;
}

.thumbnail {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: fill;
}

#contact {
    text-align: center;
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--mainColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 10px -10px 10px -1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px -10px 10px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px -10px 10px -1px rgba(0,0,0,0.25);
}

#contact-form label {
    line-height: 3em;
}

#contact-form textarea {
    min-height: 100px;
}

.input-field {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}

#submit-btn {
    width: 100%;
    margin-top: 15px;
    padding: 10px 0 10px 0;
    color: #ffffff;
    background-color: var(--btnColor);
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'left-column'
            'right-column'
        ;
    }
    .right-column {
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .main-container {
        width: 100%;
    }

    .greeting-wrapper h1 {
        font-size: 42px;
    }

    .greeting-wrapper {
        background-size: 75%;
    }

    #preview-shadow {
        width: 270px;   
        padding: 10px 0 0 10px;
    }

    #preview {
        width: 280px;
        padding: 5px;
    }

    .txt-writer {
        font-size: 24px;
    }

    .about-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(95%, 1fr));
        padding: 50px 10px 100px 10px;
    }

    .project-wrapper {
        grid-template-columns: repeat(auto-fit, 95%);
    }
}