:root {
    --mainColor: #8b668b;
    --secondaryColor: #cd96cd;
    --borderColor: #7a378b;
    --mainText: #ffffff;
    --secondaryText: #f5f5f5;
    --dotBorder: #1a1a1a;
    --previewBg: #cd69c9;
    --previewShadow: #8b4789;
    --btnColor: #8b4789;
    --attColor: #7a378b;
}

#navigation a {
    color: var(--secondaryText);
}

.about-wrapper hr {
    background-color: var(--borderColor);
    height: 1px;
    border: none;
}

#skills {
    background-color: var(--previewShadow);
}